:root {
    --primary-text-color: #757575;
    --color-lightgrey: rgba(255, 255, 255, 0.6);
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white: #ffffff;
    --primary-background: #2f303a;
    --secondary-background: #f5f4fa;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f5f7fa;
    padding: 40px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

.footer,
.hero {
    background-color: var(--primary-background);
}

.wrapper {
    width: 1600px;
    background-color: var(--primary-white);
}


/* Header */

.header {
    width: 1600px;
    border-bottom: solid #ececec;
}


/* Site Navigation */

.site-nav {
    display: flex;
    width: 1170px;
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 215px;
    margin-right: 215px;
    align-items: center;
}


/* logo */

.logo-accent {
    color: #2196f3;
}

.logo-header {
    color: #212121;
}

.logo-footer {
    color: var(--primary-white);
}

.logo-accent,
.logo-footer,
.logo-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}


/* Navigation list */

.nav-list {
    display: flex;
}

.nav-list .link.current {
    color: var(--accent-color);
}

.nav-list .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-left: 50px;
}

.nav-list .link:hover,
.nav-list .link:focus {
    color: var(--accent-color);
}


/* contacts */

.contacts-list {
    display: flex;
    padding: 15px;
    /* margin: auto;*/
    margin-left: 215px;
}

.contacts-list .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-left: 50px;
}

.contacts-list .link:hover,
.contacts-list .link:focus {
    color: var(--accent-color);
}

.section {
    color: var(--primary-text-color);
}

.section-title,
.title,
.list-title {
    color: var(--title-text-color);
}

.list-title {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}


/* Footer */

.footer {
    width: 1600px;
    height: 252px;
}

.footer a {
    color: var(--color-lightgrey);
}

.footer .address {
    color: var(--primary-white);
}

.adress a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}